jsonfile/Menu-api-react.json
{
  "name": "Menu-api-react",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "d2983809-6697-451d-90a0-d12037fedaeb",
      "name": "Schedule Menu Broadcast",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        240
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16t99AWWDaGfev_JLa-HhiCM4VR2GQ04UvYjjMar5g5c",
          "mode": "list",
          "cachedResultName": "FinshMenu (2)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16t99AWWDaGfev_JLa-HhiCM4VR2GQ04UvYjjMar5g5c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 820395903,
          "mode": "list",
          "cachedResultName": "items",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16t99AWWDaGfev_JLa-HhiCM4VR2GQ04UvYjjMar5g5c/edit#gid=820395903"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        336
      ],
      "id": "a4c6a4cf-c97f-4ff3-b9a9-ce8ef523217b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lrgHfPNgMEYgUHTb",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// نفترض أن المتغير \"rows\" يحتوي على كل الصفوف من Google Sheets\n// مثال: rows = $input.all().map(item => item.json);\n\nconst rows = $input.all().map(item => item.json);\n\n// هذا كائن لتجميع العناصر حسب الفئة\nconst menuByCategory = {};\n\n// المرور على كل صف\nrows.forEach(row => {\n  // استعمل category_id، وإذا فارغ ضع 'uncategorized'\n  const category = row.category_id || 'uncategorized';\n\n  // إذا لم يوجد مصفوفة للفئة، نخلق واحدة\n  if (!menuByCategory[category]) {\n    menuByCategory[category] = [];\n  }\n\n  // إضافة العنصر إلى الفئة\n  menuByCategory[category].push({\n    id: row.item_id,\n    name: row.name,\n    base_price: Number(row.base_price) || 0,\n    comment: row.comment || '',\n    image_url: row.image_url || '',\n    status: row.status === 'available' ? 'available' : 'unavailable'\n  });\n});\n\n// نعيد JSON بالصيغة المطلوبة للتطبيق\nreturn [{ json: { success: true, menu: menuByCategory } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        288
      ],
      "id": "787fd971-125c-4faa-92ac-5debbb3c6414",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        496,
        336
      ],
      "id": "ab236571-2661-47ee-9e50-ad0e1dfa5787",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "menu-api",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        416
      ],
      "id": "f58597d9-b030-4eaa-9e0f-9c6a76e81226",
      "name": "Webhook",
      "webhookId": "aa387b17-91fb-4f38-bfa6-e531ee283868"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Menu Broadcast": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a65a6379-8e9b-4712-8f1c-f2c13bb74c52",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "727e63621fc046904c0783a83b5cdf5eb9ea11ee8580a922bf0106be0a5d6d90"
  },
  "id": "kPntJaLm_cEjZgQcc9jyi",
  "tags": []
}