jsonfile/My workflow (3).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "path": "GetNewOrders",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f78ed121-4ec1-4dbf-9522-32e0c59a8b15",
      "name": "GetNewOrders Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "e6dfd859-63fd-45dd-a70f-b9e75e4a9eee"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(row => {\n  return {\n    json: {\n      order_id: row.json['Order ID'],\n      customer: {\n        full_name: row.json['Customer Name'],\n        phone_1: row.json['Phone 1'],\n        payment_method: row.json['Payment Method'],\n        delivery_info: row.json['Order Type'] === 'توصيل'\n          ? {\n              area_id: row.json['Area'] || row.json['Distance (KM)'],\n              address: row.json['Address']\n            }\n          : null\n      },\n      totals: {\n        total: Number(row.json['Total Amount'] || 0),\n        delivery_fee: Number(row.json['Delivery Fee'] || 0)\n      },\n      itemsSummary: row.json['Items'] || '',\n      items: [],\n      status: 'pending'\n    }\n  };\n});"
      },
      "id": "6eea7eb5-4f34-4d3b-8c7e-7005633bd623",
      "name": "Normalize Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET"
              }
            ]
          }
        }
      },
      "id": "7f134a82-ac35-4a55-b986-7ebd1948db86",
      "name": "Respond Orders To Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1088,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ac5TuWGNvWKpF7gveyXANh06FCpO4Xk0c0-OjAHfi_E",
          "mode": "list",
          "cachedResultName": "OrderGet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ac5TuWGNvWKpF7gveyXANh06FCpO4Xk0c0-OjAHfi_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ac5TuWGNvWKpF7gveyXANh06FCpO4Xk0c0-OjAHfi_E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order ID": "={{ $json['Order ID'] }}",
            "Restaurant": "={{ $json.Restaurant }}",
            "Status": "done"
          },
          "matchingColumns": [
            "Order ID"
          ],
          "schema": [
            {
              "id": "Restaurant",
              "displayName": "Restaurant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Type",
              "displayName": "Order Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone 1",
              "displayName": "Phone 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone 2",
              "displayName": "Phone 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Distance (KM)",
              "displayName": "Distance (KM)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estimated Time",
              "displayName": "Estimated Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery Fee",
              "displayName": "Delivery Fee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service Fee",
              "displayName": "Service Fee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lan",
              "displayName": "lan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "len",
              "displayName": "len",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d1c350a4-232a-4e14-acc0-11360fc0000d",
      "name": "Get New Orders From Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        448,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rC0eemZnO0DAJ1Gg",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd40bd18-8dd6-44f2-9e09-ffe459132e2f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        0
      ],
      "id": "bfa89924-050b-4b66-8225-f27fa9cfaded",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ac5TuWGNvWKpF7gveyXANh06FCpO4Xk0c0-OjAHfi_E",
          "mode": "list",
          "cachedResultName": "OrderGet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ac5TuWGNvWKpF7gveyXANh06FCpO4Xk0c0-OjAHfi_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ac5TuWGNvWKpF7gveyXANh06FCpO4Xk0c0-OjAHfi_E/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "f1610110-4aae-488d-aae3-59925f9d05aa",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rC0eemZnO0DAJ1Gg",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "GetNewOrders Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Orders": {
      "main": [
        [
          {
            "node": "Respond Orders To Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Orders From Sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Normalize Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Get New Orders From Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5eb0d951-7846-401c-957c-5d5d228878ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0498bb4bb017a3e51ce4ca282d924b48ec10d02a6c7cc26cf04b1031b5e1252e"
  },
  "id": "zL_UntonHy_0kQRiu4-nK",
  "tags": []
}